<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./libs/bootstrap.min.css">
  <link rel="stylesheet" href="./libs/app.css">
  <title>Selamat Datang di warung Areta</title>
</head>
<body>
  <main> 
    <div class="container" id="app">
      <div class="row align-items-md-stretch">
        <div class="col-md-6">
          <div class="h-100 p-3 bg-light border rounded-3">
            <h2>Produk</h2>
            <div v-for="item in product" class="card mb-3 text-end" style="">
              <div class="row g-0">
                <div class="col-md-5">
                  <img :src='item.img' class="img-fluid rounded-start img-product" alt="Beng-beng">
                </div>
                <div class="col-md-7">
                  <div class="card-body">
                    <h5 class="card-title">{{item.name}}</h5>
                    <p class="card-text">Rp. {{item.price}}</p>
                    <a href="#" class="btn btn-primary btn-add"  v-on:click="addPrice(item)">Add</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="h-100 p-3 border rounded-3">
            <h2>Harga</h2>
            <div v-for="(item, index) in salesProduct" class="" style="">
              <div class="row">
                <div class="col-md-6">
                  <p class="price-name">{{item.name}}</p>
                </div>
                <div class="col-md-5 text-end">
                  <p class="price-price">Rp. {{item.price}}</p>
                </div>
                <div class="col-md-1">
                  <p class="link-remove"  v-on:click="removeProducts(index)">-</p>
                </div>
              </div>
            </div>
            <footer>
              <h2 class="text-end bg-info total-amount">
                <p class="total-amount-text">
                  Rp. {{totalPrice}}  
                </p>
              </h2>
              <div class="d-grid gap-2">
                <button class="btn btn-primary btn-lg" type="button"  v-on:click="clear()">Clear</button>
              </div>            
            </footer>
          </div>
        </div>
      </div>
    </div>
  </main>
  <script src="./libs/bootstrap.bundle.min.js"></script>
  <script src="./libs/vue.js"></script>
  <script>
    new Vue({ 
      el: '#app',
      data() {
        return {
          product: [
          {
              name: 'Superstar Wafer',
              price: '1000',
              id: 'superstar_wafer',
              img: './imgs/superstar.png'
            },
            {
              name: 'Deka Wafer Bites',
              price: '4500',
              id: 'deka_wafer',
              img: './imgs/deka-wafer.jpeg'
            },
            {
              name: 'Nabati Wafer',
              price: '4000',
              id: 'nabati_wafer',
              img: './imgs/wafer-nabati.jpeg'
            },
            {
              name: 'Mayasi Chocoreto Rolls',
              price: '1500',
              id: 'mayasi',
              img: './imgs/mayasi.jpeg'
            },
            {
              name: 'Mamee Monster isi 2',
              price: '2500',
              id: 'mamee_monster',
              img: './imgs/mamee_monster.jpeg'
            },
            {
              name: 'Superstar Snaps',
              price: '1500',
              id: 'superstar_snaps',
              img: './imgs/superstar_snaps.jpeg'
            },
            {
              name: 'Day Day Bird Nest isi 3',
              price: '12500',
              id: 'dayday_nest',
              img: './imgs/dayday_birdnest.jpeg'
            },
            {
              name: 'ABC Sari Kacang Hijau',
              price: '8500',
              id: 'abc_kacang_hijau',
              img: './imgs/abc_kacang_hijau.jpeg'
            },
            {
              name: 'Keju Dairy Gold',
              price: '10000',
              id: 'keju_dairygold',
              img: './imgs/keju_dairygold.jpeg'
            },
            {
              name: 'Keju Kraft',
              price: '18600',
              id: 'keju_kraft',
              img: './imgs/keju_kraft.jpeg'
            },
            {
              name: 'Sari Roti',
              price: '9500',
              id: 'sari_roti',
              img: './imgs/sari_roti.jpeg'
            },
            {
              name: 'Rapika 3 in 1',
              price: '3700',
              id: 'rapi_3in1',
              img: './imgs/rapika_3in1.jpeg'
            },
            {
              name: 'ABC Sambel Extra Pedas',
              price: '12500',
              id: 'abc_sambel_extra_pedas',
              img: './imgs/abc_extra_pedas.jpeg'
            }
          ],
          salesProduct: [],
          totalPrice: 0,
        }
      },
      methods: {
        addPrice (item) {
          this.salesProduct.push(item)
          this.calculatePrice()
        },
        removeProducts (index) {
          this.salesProduct.splice(index, 1)
          this.calculatePrice()
        },
        calculatePrice() {
          let price = 0
          this.salesProduct.forEach(item => {
            price += parseInt(item.price)
          })
          this.totalPrice = price
        },
        clear () {
          this.salesProduct= [],
          this.totalPrice = 0
        }
      }
    })
  </script>
</body>
</html>