<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./libs/bootstrap.min.css">
  <link rel="stylesheet" href="./libs/app.css">
  <title>Selamat Datang di warung Areta</title>
</head>

<body>
  <main>
    <div class="container" id="app">
      <div class="row align-items-md-stretch">
        <div class="col-md-6">
          <div class="h-100 p-3 bg-light border rounded-3">
            <h2>Produk</h2>
            <div v-for="item in product" class="card mb-3 text-end" style="" v-if="item.isActive">
              <div class="row g-0">
                <div class="col-md-5">
                  <img :src='item.img' class="img-fluid rounded-start img-product" alt="Beng-beng">
                </div>
                <div class="col-md-7">
                  <div class="card-body">
                    <h5 class="card-title">{{item.name}}</h5>
                    <p class="card-text">Rp. {{item.price}}</p>
                    <a href="#" class="btn btn-primary btn-add" v-on:click="addPrice(item)">Add</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="h-100 p-3 border rounded-3 price-container">
            <h2>Harga</h2>
            <div v-for="(item, index) in salesProduct" class="" style="">
              <div class="row">
                <div class="col-md-6">
                  <p class="price-name">{{item.name}}</p>
                </div>
                <div class="col-md-5 text-end">
                  <p class="price-price">Rp. {{item.price}}</p>
                </div>
                <div class="col-md-1">
                  <p class="link-remove" v-on:click="removeProducts(index)">-</p>
                </div>
              </div>
            </div>
            <footer>
              <div class="row bg-info total-div">
                <div class="col-md-6 total-amount">
                  <h2 class="">
                    <p class="">
                      Total:
                    </p>
                  </h2>
                </div>
                <div class="col-md-6 total-amount">
                  <h2 class="text-end">
                    <p class="">
                      Rp. {{totalPrice}}
                    </p>
                  </h2>
                </div>
              </div>

              <div class="row total-div">
                <div class="col-md-6 total-amount">
                  <h2 class="">
                    <p class="">
                      Uang Bayar:
                    </p>
                  </h2>
                </div>
                <div class="col-md-6 total-amount">
                  <input type="text" v-model="inputMoney" class="input-money" value="" @input="handleInputBlur" />
                </div>
              </div>

              <div class="row bg-info total-div">
                <div class="col-md-6 total-amount">
                  <h2 class="">
                    <p class="">
                      Kembalian:
                    </p>
                  </h2>
                </div>
                <div class="col-md-6 total-amount">
                  <h2 class="text-end">
                    <p class="">
                      Rp. {{changeMoney}}
                    </p>
                  </h2>
                </div>
              </div>
              <div class="d-grid gap-2">
                <button class="btn btn-primary btn-lg" type="button" v-on:click="clear()">Clear</button>
              </div>
            </footer>
          </div>
        </div>
      </div>
    </div>
  </main>
  <script src="./libs/bootstrap.bundle.min.js"></script>
  <script src="./libs/vue.js"></script>
  <script>
    new Vue({
      el: '#app',
      data() {
        return {
          product: [
            {
              name: 'Nabati Keju',
              price: '1000',
              id: 'nabati_keju_single',
              img: './imgs/nabati-wafer-keju-single.jpeg',
              isActive: true
            },
            {
              name: 'Chocolatos',
              price: '1000',
              id: 'chocolatos',
              img: './imgs/chocolatos.jpeg',
              isActive: true
            },
            {
              name: 'Momogi Jagung Bakar',
              price: '1000',
              id: 'momogi_jagung_bakar',
              img: './imgs/momogi_jagung_bakar.jpeg',
              isActive: true
            },
            {
              name: 'Beng-Beng',
              price: '2000',
              id: 'bengbeng',
              img: './imgs/bengbeng.png',
              isActive: true
            },
            {
              name: 'Mamee Monster isi 2',
              price: '2500',
              id: 'mamee_monster',
              img: './imgs/mamee_monster.jpeg',
              isActive: false
            },
            {
              name: 'Superstar Snaps',
              price: '1500',
              id: 'superstar_snaps',
              img: './imgs/superstar_snaps.jpeg',
              isActive: false
            },
            {
              name: 'Day Day Bird Nest isi 3',
              price: '12500',
              id: 'dayday_nest',
              img: './imgs/dayday_birdnest.jpeg',
              isActive: false
            },
            {
              name: 'ABC Sari Kacang Hijau',
              price: '8500',
              id: 'abc_kacang_hijau',
              img: './imgs/abc_kacang_hijau.jpeg',
              isActive: false
            },
            {
              name: 'Keju Dairy Gold',
              price: '10000',
              id: 'keju_dairygold',
              img: './imgs/keju_dairygold.jpeg',
              isActive: false
            },
            {
              name: 'Keju Kraft',
              price: '18600',
              id: 'keju_kraft',
              img: './imgs/keju_kraft.jpeg',
              isActive: false
            },
            {
              name: 'Sari Roti',
              price: '9500',
              id: 'sari_roti',
              img: './imgs/sari_roti.jpeg',
              isActive: false
            },
            {
              name: 'Rapika 3 in 1',
              price: '3700',
              id: 'rapi_3in1',
              img: './imgs/rapika_3in1.jpeg',
              isActive: false
            },
            {
              name: 'ABC Sambel Extra Pedas',
              price: '12500',
              id: 'abc_sambel_extra_pedas',
              img: './imgs/abc_extra_pedas.jpeg',
              isActive: false
            }
          ],
          salesProduct: [],
          totalPrice: 0,
          inputMoney: '',
          changeMoney: ''
        }
      },
      methods: {
        addPrice(item) {
          this.salesProduct.push(item)
          this.calculatePrice()
        },
        removeProducts(index) {
          this.salesProduct.splice(index, 1)
          this.calculatePrice()
        },
        calculatePrice() {
          let price = 0
          this.salesProduct.forEach(item => {
            price += parseInt(item.price)
          })
          this.totalPrice = price
          this.calculateChange()
        },
        clear() {
          this.salesProduct = [],
            this.totalPrice = 0
          this.inputMoney = ''
          this.changeMoney = ''
        },
        handleInputBlur() {
          this.inputMoney = this.inputMoney.replace(/[^0-9]/g, '')
          this.calculateChange()
        },
        calculateChange() {
          if (this.inputMoney) {
            this.changeMoney = parseInt(this.inputMoney) - parseInt(this.totalPrice)
          } else {
            this.changeMoney = ''
          }
        }
      }
    })
  </script>
</body>

</html>